#include "resource.h"

TOKENICON				ICON			"res\\token.ico"

HOTKEYBOX DIALOGEX 90, 0, 100, 50
STYLE WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Change Hotkey"
FONT 8, "System"
BEGIN
CONTROL "", KEYCONTROL, HOTKEY_CLASS, WS_CHILD | WS_VISIBLE, 15, 10, 70, 10
CONTROL "OK", BTN_OK, "Button", WS_VISIBLE | WS_CHILD | BS_DEFPUSHBUTTON, 32, 27, 36, 15
END

